{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-lg-4 col-md-5">
        <div class="bg-light rounded p-4">
            {% if profile.photo.url != "/media/default.png" %}
            <div class="photo col-8 m-0 p-0 ml-auto">
                <img src="{{ profile.photo.url }}" alt="{{ profile.username }}" class="p-0 m-0 rounded-circle" style="object-fit:cover; width:150px; height:150px;">
            </div>
            {% endif %}
            <div class="user-bio my-2">
                {% if profile.full_name %}
                <h3>{{ profile.full_name }}</h3>
                {% endif %}
                <p>
                    {% if profile.headline %}
                        {{ profile.headline }}
                    {% endif %}
                    {% if profile.location %}
                        <br>
                        <span class="text-muted text-small">Based in {{ profile.location }}</span>
                    {% endif %}
                </p>
                {% if profile.about %}
                <h6>About</h6>
                <p>{{ profile.about }}</p>
                {% endif %}
            </div>
            
            <div class="user-links my-2">
                {% if profile.github %}
                <a style="font-size: 24px;" href="{{ profile.github }}"><i class="fa-brands me-3 fa-github"></i></a>
                {% endif %}
                
                {% if profile.kaggle %}
                <a style="font-size: 24px;" href="{{ profile.kaggle }}"><i class="fa-brands me-3 fa-kaggle"></i></a>
                {% endif %}
                
                {% if profile.linkedin %}
                <a style="font-size: 24px;" href="{{ profile.linkedin }}"><i class="fa-brands me-3 fa-linkedin"></i></a>
                {% endif %}
                
                {% if profile.medium %}
                <a style="font-size: 24px;" href="{{ profile.medium }}"><i class="fa-brands me-3 fa-medium"></i></a>
                {% endif %}
            </div>
    
            <div class="user-skills my-2">
                {% if skills|first != "" %}
                <h6>Skills</h6>
                <p>
                    {% for skill in skills %}
                        <span class="badge badge-primary">{{ skill }}</span>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7 p-4">
        <div class="user-projects">
            {% if projects|length > 0 %}
            <div class="d-flex justify-content-between align-items-center mb-2"><h6>Projects</h6>
            </div>
            {% endif%}
            <div class="row pt-2 pb-4">
                {% for project in projects %}
                    <div class="col-lg-6 my-2">
                        <div class="card p-0">
                            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                                <img src="{{ project.thumbnail.url }}" class="img-fluid card-img-top" style="height: 180px; width: 100%; object-fit: cover;"/>
                                <a href="{% url 'project_detail' project.slug %}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name|truncatechars:24 }}</h5>
                                <p class="card-text">{{ project.description|truncatechars:30 }}</p>
                                                        
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="user-experience my-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                {% if experiences|length > 0 %}
                    <h6>Experiences</h6>
                    
                {% endif %}
            </div>
            <div class="row pt-2 pb-4" style="min-height: 80px; width: 100%;">

                {% for experience in experiences %}
                <div class="experience">
                    <small>
                        {{ experience.from_date }} to {{ experience.to_date }}
                    </small>
                    <div><strong>
                        {{ experience.role }}
                    </strong> at {{ experience.organization }}</div>
                    <p class="mb-0">{{ experience.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="user-education my-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                {% if education|length > 0 %}
                <h6>Education</h6>
                {% endif %}
            </div>
            <div class="row pt-2 pb-4" style="min-height: 80px; width: 100%;">
                {% for education in education %}
                <div class="education">
                    <small>
                        {{ education.from_date }} to {{ education.to_date }}
                    </small>
                    <div><strong>
                        {{ education.degree }}
                    </strong> at {{ education.school }}</div>
                    <p class="mb-0">{{ education.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}